/data
*.tif
*.grd
/test/data/imgs/*
.DS_Store
.ipynb_checkpoints/
*.pyc
pipCommands
test.ipynb
uavsar_pytools.egg-info/
build/*
dist/*
uavsar_pytools.egg-info/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg