/data
/.vscode
*.tif
*.grd
/test/data/imgs/*
.DS_Store
.ipynb_checkpoints/
*.pyc
pipCommands
test.ipynb
uavsar_pytools.egg-info/
dist/*
uavsar_pytools.egg-info/

develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/play
*/__pycache__